* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #818c78;
  }

  .form-container {
    padding: 2rem;
    width: 100%;
    max-width: 350px;
  }

  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #e2e0c8;
    font-weight: 500;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #818c78;
    border-radius: 10px;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #e2e0c8;
  }

  .form-group input:focus {
    outline: none;
    border-color: #ffffff;
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #a7b49e;
    color: #e2e0c8;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  button:hover {
    background-color: #8e9986;
  }